#calendar-cont {
  margin: 20px 0 0 0;
  padding-bottom: 10px;
  border-bottom: 3px solid #e7e7e7;
}

.DynarchCalendar {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  line-height: 14px;
  position: relative;
  cursor: default;

  table {
    font-size: 16px;
    line-height: 16px;
  }
}

table.DynarchCalendar-titleCont {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 158px;
  z-index: 9;
  position: relative;
  background-color: #eee;
}

.DynarchCalendar-hover-title div {
  background-color: #fff;
  background-image: url("../img/drop-down.gif");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.DynarchCalendar-pressed-title div {
  background-color: #777;
  color: #fff;
  background-image: url("../img/drop-up.gif");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.DynarchCalendar-bottomBar {
  display: none;
  border-top: 1px solid #aaa;
  background: #ddd;
  padding: 2px;
  position: relative;
  text-align: center;
}

.DynarchCalendar-bottomBar-today {
  padding: 2px 15px;
}

.DynarchCalendar-hover-bottomBar-today {
  border: 1px solid #000;
  background-color: #fff;
  padding: 1px 14px;
}

.DynarchCalendar-pressed-bottomBar-today {
  border: 1px solid #000;
  background-color: #777;
  color: #fff;
  padding: 1px 14px;
}

.DynarchCalendar-body {
  position: relative;
  overflow: hidden;
}

.DynarchCalendar-animBody-backYear {
  position: absolute;
  top: -100%;
  left: 0;
}

.DynarchCalendar-animBody-back {
  position: absolute;
  top: 5px;
  left: -100%;
}

.DynarchCalendar-animBody-fwd {
  position: absolute;
  top: 5px;
  left: 100%;
}

.DynarchCalendar-animBody-now {
  position: absolute;
  top: 5px;
  left: 0;
}

.DynarchCalendar-animBody-fwdYear {
  position: absolute;
  top: 100%;
  left: 0;
}

.DynarchCalendar-dayNames {
  border-top: 2px solid #cacace;
  border-bottom: 1px solid #e7e7e7;
  margin: 0 0 5px 0;

  div {
    color: #888;
  }
}

.DynarchCalendar-navBtn {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  background-color: #eee;

  div {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 40px;
    width: 40px;
  }
}

.DynarchCalendar-hover-navBtn div {
  padding: 0;
}

.DynarchCalendar-navDisabled {
  opacity: 0.3;
  filter: alpha(opacity = 30);
}

.DynarchCalendar-pressed-navBtn div {
  padding: 0;
}

.DynarchCalendar-nextMonth {
  left: 100%;
  margin-left: -40px;
}

.DynarchCalendar-prevYear {
  display: none;
  left: 5px;
}

.DynarchCalendar-nextYear {
  display: none;
  left: 100%;
  margin-left: -23px;
}

.DynarchCalendar-prevMonth div {
  transform: rotate(90deg);
  background-image: url("../img/svg/arrow-down-red.svg");
}

.DynarchCalendar-nextMonth div {
  transform: rotate(-90deg);
  background-image: url("../img/svg/arrow-down-red.svg");
}

.DynarchCalendar-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  overflow: hidden;
  opacity: 0.85;
  filter: alpha(opacity = 85);

  table td div {
    text-align: center;
    font-weight: bold;
    padding: 3px 5px;

    &.DynarchCalendar-menu-month {
      width: 4em;
      text-align: center;
    }

    &.DynarchCalendar-hover-navBtn {
      border: 1px solid #000;
      padding: 2px 4px;
      background-color: #fff;
      color: #000;
    }

    &.DynarchCalendar-pressed-navBtn {
      border: 1px solid #000;
      padding: 2px 4px;
      background-color: #777;
      color: #fff !important;
    }
  }
}

.DynarchCalendar-menu-year {
  text-align: center;
  font: 16px "lucida grande", tahoma, verdana, sans-serif;
  font-weight: bold;
}

.DynarchCalendar-menu-sep {
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  border-top: 1px solid #888;
  background: #fff;
  margin-top: 4px;
  margin-bottom: 3px;
}

.DynarchCalendar-time td {
  font-weight: bold;
  font-size: 120%;
}

.DynarchCalendar-time-hour, .DynarchCalendar-time-minute {
  padding: 1px 3px;
}

.DynarchCalendar-time-down {
  background: url("../img/time-down.png") no-repeat 50% 50%;
  width: 11px;
  height: 8px;
  opacity: 0.5;
}

.DynarchCalendar-time-up {
  background: url("../img/time-up.png") no-repeat 50% 50%;
  width: 11px;
  height: 8px;
  opacity: 0.5;
}

.DynarchCalendar-time-sep {
  padding: 0 2px;
}

.DynarchCalendar-hover-time {
  background-color: #444;
  color: #fff;
  opacity: 1;
}

.DynarchCalendar-pressed-time {
  background-color: #000;
  color: #fff;
  opacity: 1;
}

.DynarchCalendar-time-am {
  padding: 1px;
  width: 2.5em;
  text-align: center;
}

.DynarchCalendar-hover-week {
  background-color: #f5f5f5;
}

.DynarchCalendar-day {
  cursor: pointer;
}

.DynarchCalendar-dayNames div, .DynarchCalendar-day, .DynarchCalendar-weekNumber {
  display: table-cell;
  height: 34px;
  text-align: center;
  vertical-align: middle;
  width: 34px;
}

.DynarchCalendar-dayNames div {
  height: 40px;
}

.DynarchCalendar-weekNumber {
  border-right: 1px solid #aaa;
  margin-right: 4px;
  width: 2em !important;
  padding-right: 8px !important;
}

.DynarchCalendar-day {
  color: #1ab1b2;
}

.DynarchCalendar-day-othermonth {
  color: #888;
}

.DynarchCalendar-weekend {
  color: #c22;
}

.dynarchcalendar-day-today {
  font-weight: bold;
}

.DynarchCalendar-day-disabled {
  opacity: 0.5;
  text-shadow: 2px 1px 1px #fff;
}

.DynarchCalendar-hover-date {
  background-color: #e7e7e7;
  margin: 0 !important;
  color: #000;
}

.DynarchCalendar-day-othermonth.DynarchCalendar-hover-date {
  color: #888;
}

.DynarchCalendar-dayNames .DynarchCalendar-weekend {
  color: #333;
}

.DynarchCalendar-day-othermonth.DynarchCalendar-weekend {
  color: #d88;
}

.DynarchCalendar-day-selected {
  background-color: #d81a3d;
  color: #fff !important;
}

.DynarchCalendar-day-today.DynarchCalendar-day-selected {
  background-color: #d81a3d;
}

.DynarchCalendar-focusLink {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity = 0);
}

.DynarchCalendar-focused {
  border-color: #000;

  .DynarchCalendar-topBar, .DynarchCalendar-bottomBar {
    border-color: #336;
  }

  .DynarchCalendar-hover-week {
    background-color: #ccc;
  }
}

.DynarchCalendar-tooltip {
  position: absolute;
  top: 100%;
  width: 100%;
}

.DynarchCalendar-tooltipCont {
  margin: 0 5px 0 5px;
  border: 1px solid #aaa;
  border-top: 0;
  padding: 3px 6px;
  background: #ddd;
}

.DynarchCalendar-focused .DynarchCalendar-tooltipCont {
  background: #ccc;
  border-color: #000;
}

@media print {
  .DynarchCalendar-day-selected {
    padding: 2px 3px;
    border: 1px solid #000;
    margin: 0 !important;
  }
}
