html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead {
  font-family: inherit;
  font-style: inherit;

  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
  outline: 0;
}

header,
aside,
footer {
  display: block;
}

:focus {
  outline: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

html {
  overflow-y: scroll;

  height: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

img {
  width: auto \9;
  max-width: 100%;
  height: auto;

  vertical-align: middle;

  -ms-interpolation-mode: bicubic;
  border: 0;
}

input,
textarea,
select {
  font-family: pt_sans, Arial, Helvetica;
  font-size: 15px;
}

input.button {
  cursor: pointer;
}

body {
  font-family: pt_sans, Arial, Helvetica;
  font-size: 15px;

  min-width: 1100px;
  height: 100%;

  color: #333;
  background-color: #f4f4f4;
}

a {
  &:link,
  &:visited {
    font-weight: normal;

    text-decoration: underline;

    color: #1ab1b2;
  }
  &:hover {
    font-weight: normal;

    text-decoration: none;

    color: #d81a3d;
  }
}

.clear {
  clear: both;
}

h2 {
  font-family: pt_sans_bold;
  font-size: 24px;
  font-weight: normal;

  margin: 0 0 20px 0;
}

h3 {
  font-size: 22px;
  font-weight: normal;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

header {
  position: relative;
  z-index: 100;

  height: 121px;
}

.modal-lock header.fixed {
  .top1,
  .top2 {
    margin-left: -8px;
  }
}

header {
  &.fixed {
    .top1,
    .top2 {
      position: fixed;

      width: 100%;
    }
    .top1 {
      z-index: 210;
      top: -56px;
    }
    .top2 {
      z-index: 200;
      top: 4px;
    }
  }
  .top1 {
    position: relative;
    z-index: 100;

    border-bottom: 4px solid #38bbbb;
    background-color: #252731;
    box-shadow: 0 5px 7px 1px rgba(0, 0, 0, .13);
  }
  .top-menu {
    position: relative;

    height: 56px;
  }
}

.top-search {
  position: relative;
  z-index: 50;

  height: 60px;

  border-bottom: 1px solid #dedede;
  background-color: #ededed;
}

.wrp {
  min-height: 100%;
}

.wrapper.middle {
  padding-bottom: 200px;

  background-color: #fff;
}

footer {
  position: relative;

  margin: -200px 0 0 0;

  color: #fff;
  background-color: #252731;
}

.footer-menu {
  height: 56px;

  border-bottom: 4px solid #38bbbb;
  background-color: #d42646;
  box-shadow: 0 5px 7px 1px rgba(0, 0, 0, .13);
}

.search-bottom {
  float: right;

  width: 38px;
  height: 56px;
  margin: 0 10px 0 0;
  .search-input {
    display: block;
    float: left;

    width: 1px;
    height: 30px;
    margin: 13px 12px 0 0;

    border-right: 1px solid #ea93a3;
  }
  .search-btn {
    line-height: 56px;

    display: block;
    float: left;

    width: 20px;
    height: 56px;

    cursor: pointer;
    text-align: center;

    border: none;
    border-radius: 0;
    background: url('../img/search_lens_white.svg') no-repeat 50% 50%;
    background-size: 20px;
  }
}

footer {
  .cols {
    clear: both;
    overflow: hidden;

    padding: 30px 0;
  }
  .col {
    float: left;

    width: 275px;
    padding: 0;
    a,
    span {
      line-height: 30px;

      display: block;

      text-decoration: none !important;

      color: #999;
    }
    a:hover {
      text-decoration: underline !important;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;

      margin: 0 0 20px 0;

      text-transform: uppercase;

      color: #38bbbb;
    }
  }
  .col-1 h3 {
    text-transform: lowercase;

    color: #fff;
  }
  .col-4 h3 {
    color: #999;
  }
}

.content {
  width: 785px;
  min-height: 500px;
  margin-bottom: 25px;
  &.left {
    float: left;

    margin-left: 25px;
  }
  &.right {
    float: right;

    margin-right: 25px;
  }
  &.fsize {
    float: none;

    width: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0 25px 25px 25px;
  }
}

aside {
  width: 240px;
  margin: 0 25px 25px 25px;
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}

.top-baner {
  position: relative;
  z-index: 200;

  overflow: hidden;

  background-color: #fff;
  .bnrs {
    height: 90px;
    padding: 0 0 5px 0;
  }
}

.logo-img {
  position: absolute;

  display: block;
  float: left;

  width: 188px;
  height: 60px;
  img {
    width: 188px;
    height: 60px;
  }
}

.f-rgt {
  float: right;
}

.red-star {
  font-size: 18px;
  font-weight: normal;

  padding: 0 0 0 3px;

  color: #f00;
}

.btn {
  font-size: 15px;
  line-height: 36px;

  position: relative;

  display: inline-block;

  height: 36px;
  padding: 0 20px;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none !important;

  color: #fff !important;
  border: none;
  border-radius: 0;
  background-repeat: no-repeat;
  box-shadow: none;
  &:hover {
    opacity: .9;
  }
}

.btn-red {
  background-color: #d81a3d;
}

.btn-turq {
  background-color: #38bbbb;
}

.btn.reg {
  margin: 10px 25px 0 0;
}

.btn-round {
  line-height: 38px;

  border-color: rgba(0, 0, 0, .25);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 4px;
}

.btn-add {
  text-indent: 15px;

  background-image: url(../img/add.svg);
  background-position: 5px 50%;
  background-size: 24px;
}

.btn-message {
  text-indent: 25px;

  background-image: url(../img/mail.svg);
  background-position: 15px 50%;
}

.menu-top {
  float: left;
  overflow: hidden;

  height: 56px;
  margin: 0 0 0 203px;
  a {
    font-size: 17px;
    line-height: 35px;

    display: inline-block;

    height: 45px;
    margin: 11px 0 0 0;
    padding: 0 15px;

    text-decoration: none;

    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
  .active {
    background-color: #38bbbb;
  }
}

.region {
  float: left;

  width: 195px;
  height: 60px;
  padding: 0 0 0 25px;

  background-image: url(../img/next.svg);
  background-repeat: no-repeat;
  background-position: 185px 18px;
  background-size: 24px;
  a.regsel {
    font-size: 15px;
    line-height: 60px;

    cursor: pointer;
    text-decoration: none !important;

    color: #1ab1b2;
    border-bottom: 1px dotted #1ab1b2;
    &:hover {
      color: #d81a3d;
      border-bottom: 1px dotted #d81a3d;
    }
    &.dis {
      cursor: default;

      border: none;
      &:hover {
        color: #1ab1b2;
        border: none;
      }
    }
  }
}

.address-search {
  position: relative;

  float: left;

  width: 590px;
  height: 38px;
  margin: 10px 0;

  border: 1px solid #dedede;
  background-color: #fff;
  #query-address {
    font-size: 15px;

    position: absolute;

    display: block;
    float: left;

    width: 532px;
    height: 38px;
    padding: 0 10px 0 0;

    text-indent: 34px;

    border: none;
    border-radius: 0;
    background-color: #fff;
    background-image: url('../img/location.svg');
    background-repeat: no-repeat;
    background-position: 5px 50%;
  }
}

.btn-house-search {
  line-height: 38px;

  display: block;
  float: right;

  width: 38px;
  height: 38px;

  cursor: pointer;
  text-align: center;

  color: #fff;
  border: none;
  border-radius: 0;
  background: #fff url('../img/search_lens.svg') no-repeat 50% 50%;
  background-size: 20px;
}

.address-search .btn-clear {
  position: absolute;
  z-index: 110;
  top: 0;
  right: 36px;

  display: none;

  width: 18px;
  height: 38px;

  cursor: pointer;

  background: #fff url('../img/clear.svg') no-repeat 50% 50%;
  &:hover {
    background-image: url('../img/clear-h.svg');
  }
}

.ext-house-search {
  position: absolute;
  z-index: 1000;
  top: 49px;
  left: 220px;

  display: none;

  width: 550px;
  padding: 20px;

  border: 1px solid #dedede;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .3) 9px 9px 0 0;
}

.btn-ext-house-search {
  display: block;
}

.ext-house-search {
  .chosen-container {
    display: block;
    float: none;
    clear: both;

    margin: 0 0 10px 0;
  }
  .chosen-container-single .chosen-single {
    line-height: 29px;

    height: 29px;

    color: #000;
    border: 1px solid #dedede;
    background-color: #fff;
  }
  .chosen-container .chosen-results li.no-results {
    color: #fff;
    background-color: #38bbbb;
  }
  .chosen-container-single {
    .chosen-drop {
      color: #fff;
      background-color: #38bbbb;
    }
    .chosen-single div b {
      background-image: url('../img/arrow-down.svg');
      background-size: 16px;
    }
  }
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-image: url('../img/arrow-up.svg');
    background-position: 0 7px;
  }
}

.btn-ext-house-search {
  font-size: 16px;

  width: 220px;
  height: 33px;
  margin: 20px auto 0 auto;

  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 0;
  background: #38bbbb url(../img/0.png);
}

.btn-ehs-close {
  float: right;

  width: 28px;
  height: 28px;
  margin: -15px -15px 10px 0;

  cursor: pointer;

  background: #fff url('../img/close-wnd.svg') no-repeat 50% 50%;
  &:hover {
    background-image: url('../img/close-wnd-h.svg');
  }
}

.btn-ehs-wnd {
  position: absolute;
  top: 0;
  right: 38px;

  width: 10px;
  height: 38px;

  cursor: pointer;

  background: #fff url('../img/arrow-down.svg') no-repeat 50% 50%;
  &:hover {
    background-image: url('../img/arrow-down-h.svg');
  }
}

.autocomplete-suggestions {
  overflow: auto;

  cursor: default;

  border: 1px solid #999;
  background: #fff;
  box-shadow: 1px 4px 3px rgba(50, 50, 50, .64);
}

.autocomplete-suggestion {
  overflow: hidden;

  padding: 2px 5px;

  white-space: nowrap;
}

.autocomplete-no-suggestion {
  padding: 2px 5px;
}

.autocomplete-selected {
  background: #f0f0f0;
}

.autocomplete-suggestions strong {
  font-weight: bold;

  color: #38bbbb;
}

.autocomplete-group {
  padding: 2px 5px;
  strong {
    font-size: 16px;
    font-weight: bold;

    display: block;

    color: #000;
    border-bottom: 1px solid #000;
  }
}

.chosen-container {
  font-size: 16px;

  position: relative;

  display: inline-block;
  float: left;
  zoom: 1;

  margin: 0 10px 0 0;

  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;

  *display: inline;
  .chosen-drop {
    position: absolute;
    z-index: 1010;
    top: 100%;
    left: -9999px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  &.chosen-with-drop .chosen-drop {
    left: 0;
  }
  a {
    cursor: pointer;
  }
}

.chosen-container-single {
  .chosen-single {
    line-height: 33px;

    position: relative;

    display: block;
    overflow: hidden;

    height: 33px;
    padding: 0 0 0 8px;

    white-space: nowrap;
    text-decoration: none;

    color: #fff;
    background-color: #38bbbb;
    background-clip: padding-box;
    span {
      display: block;
      overflow: hidden;

      margin-right: 26px;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .chosen-single-with-deselect span {
    margin-right: 38px;
  }
  .chosen-single abbr {
    font-size: 1px;

    position: absolute;
    top: 6px;
    right: 26px;

    display: block;

    width: 12px;
    height: 12px;

    background: url('../img/hs.png') -42px 1px no-repeat;
    &:hover {
      background-position: -42px -10px;
    }
  }
  &.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
  }
  .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 18px;
    height: 100%;
    b {
      display: block;

      width: 100%;
      height: 100%;

      background: url('../img/hs.png') no-repeat 0 7px;
    }
  }
  .chosen-search {
    position: relative;
    z-index: 1010;

    margin: 0;
    padding: 3px 4px;

    white-space: nowrap;
    input[type='text'] {
      font-size: 1em;
      line-height: normal;

      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: auto;
      margin: 1px 0;
      padding: 4px 20px 4px 5px;

      border: none;
      border-radius: 0;
      outline: 0;
      background: white url('../img/search_lens.svg') no-repeat 99% 50%;
      background-size: 12px;
    }
  }
  .chosen-drop {
    margin-top: -1px;

    color: #fff;
    border: none;
    background-color: #38bbbb;
    background-clip: padding-box;
  }
  &.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
  }
}

.chosen-container .chosen-results {
  position: relative;

  overflow-x: hidden;
  overflow-y: auto;

  max-height: 240px;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;

  -webkit-overflow-scrolling: touch;
  li {
    line-height: 15px;

    display: none;

    margin: 0;
    padding: 5px 6px;

    list-style: none;
    &.active-result {
      display: list-item;

      cursor: pointer;
    }
    &.disabled-result {
      display: list-item;

      cursor: default;

      color: #ccc;
    }
    &.highlighted {
      color: #fff;
      background-color: #045783;
    }
    &.no-results {
      display: list-item;

      background: #38bbbb;
    }
    &.group-result {
      font-weight: bold;

      display: list-item;

      cursor: default;
    }
    &.group-option {
      padding-left: 15px;
    }
    em {
      font-style: normal;

      text-decoration: underline;
    }
  }
}

.chosen-container-active {
  &.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
    b {
      background-position: -18px 7px;
    }
  }
  .chosen-choices li.search-field input[type='text'] {
    color: #111 !important;
  }
}

.chosen-disabled {
  cursor: default;

  opacity: .5 !important;
  .chosen-single,
  .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
}

.chosen-rtl {
  text-align: right;
  .chosen-single {
    overflow: visible;

    padding: 0 8px 0 0;
    span {
      margin-right: 0;
      margin-left: 26px;

      direction: rtl;
    }
  }
  .chosen-single-with-deselect span {
    margin-left: 38px;
  }
  .chosen-single {
    div {
      right: auto;
      left: 3px;
    }
    abbr {
      right: auto;
      left: 26px;
    }
  }
  .chosen-choices li {
    float: right;
    &.search-field input[type='text'] {
      direction: rtl;
    }
    &.search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 5px 3px 19px;
      .search-choice-close {
        right: auto;
        left: 4px;
      }
    }
  }
  &.chosen-container-single-nosearch .chosen-search,
  .chosen-drop {
    left: 9999px;
  }
  &.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }
  .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
  }
  &.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
  }
  .chosen-search input[type='text'] {
    padding: 4px 5px 4px 20px;

    background: white url('../img/hs.png') no-repeat -30px -20px;

    direction: rtl;
  }
  &.chosen-container-single {
    .chosen-single div b {
      background-position: 6px 2px;
    }
    &.chosen-with-drop .chosen-single div b {
      background-position: -12px 2px;
    }
  }
}

.modal-lock {
  overflow: hidden;
  body {
    overflow: hidden;
  }
}

.modal {
  z-index: 2000 !important;

  display: none;
  overflow: hidden;

  width: 500px;
  min-height: 300px;
  padding: 0 20px 20px 20px;

  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0 5px 20px #333;
  .close-modal {
    position: absolute;
    z-index: 10001;
    top: 14px;
    right: 13px;

    display: block;

    width: 28px;
    height: 28px;

    cursor: pointer;
    text-indent: -9999px;

    border-radius: 20px;
    background: #f1f1f1 url(../img/close.svg) no-repeat center center;
    background-size: 20px;
    &:hover {
      background-color: #d9d9d9;
    }
  }
  .header {
    font-size: 20px;
    font-weight: bold;

    width: 490px;
    margin: 0 0 15px -20px;
    padding: 15px 35px 15px 15px;

    color: #060704;
    border-bottom: 3px solid #d9d9d9;
  }
}

.modal-spinner {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;

  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-right: -32px;


          border-radius: 8px;
  background: url(../img/spinner.gif) #111 no-repeat center center;

}

.modal .forms-logo {
  float: left;

  margin: 0 0 20px 0;
  img {
    width: auto;
    height: 50px;
  }
}

#logreg {
  font-size: 15px;
}

.logreg-lnk {
  overflow: hidden;

  margin: 0 0 25px 0;
  .left {
    float: left;
    a {
      text-decoration: none;

      color: #d81a3d;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .right {
    float: right;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#logreg {
  .btn-login {
    display: block;

    width: 180px;
    margin: 0 auto;
  }
  .captcha {
    overflow: hidden;

    margin: 0 0 30px 0;
    .img {
      float: left;

      width: 185px;
      height: 45px;
      img {
        float: left;
      }
      a {
        display: block;
        float: right;

        width: 20px;
        height: 20px;
        margin: 10px 0 0 0;

        cursor: pointer;

        background: url(../img/renew.svg) no-repeat center center;
        background-size: 24px;
      }
    }
    .img-txt {
      float: right;

      width: 168px;
      margin: 2px 0 0 0;
    }
  }
}

.remind-text {
  padding: 20px 0;
}

#logreg .oauth {
  height: 100px;
  margin: 25px -20px -20px -20px;

  background-color: #f1f1f1;
  .title {
    font-weight: bold;

    padding: 10px 0 15px 0;

    text-align: center;
  }
}

.oauth {
  .soc-btns {
    text-align: center;
  }
  .soc-btn {
    display: inline-block;

    width: 34px;
    height: 34px;
    margin-left: 10px;

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px;
    &:first-child {
      margin: 0;
    }
    &:hover {
      opacity: .8;
    }
    &[data-provider='vk'] {
      background-color: #567ca4;
      background-image: url(../img/vk.svg);
    }
    &[data-provider='facebook'] {
      background-color: #3a5795;
      background-image: url(../img/facebook.svg);
    }
    &[data-provider='twitter'] {
      background-color: #1aacea;
      background-image: url(../img/twitter.svg);
    }
    &[data-provider='yandex'] {
      background-color: #e7322b;
      background-image: url(../img/yandex.svg);
    }
    &[data-provider='ok'] {
      background-color: #f2720c;
      background-image: url(../img/ok.svg);
    }
    &[data-provider='mailru'] {
      background-color: #168de2;
      background-image: url(../img/mailru.svg);
    }
    &[data-provider='google'] {
      background-color: #ddd;
      background-image: url(../img/google.svg);
    }
  }
}

.oauth-wnd {
  position: absolute;
  z-index: 9999;
  top: 58px;
  left: 0;

  width: 100%;
  height: 100%;
}

#logreg {
  input {
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
  .login-social {
    height: 100px;
    margin: 30px -20px -20px -20px;
    padding: 10px 0 0 0;

    background-color: #f1f1f1;
    label {
      font-weight: bold;

      display: block;

      padding: 0 0 20px 0;

      text-align: center;
    }
  }
}

#uLogin {
  width: 410px;
  margin: 0 auto;
}

.msg {
  margin: 5px 0 5px 0;
  padding: 10px;

  text-align: center;

  color: #fff;
  background-color: #d80000;
}

.frm-controls {
  width: 370px;
  margin: 0 auto;
  label {
    font-weight: bold;

    display: block;

    margin: 0 0 3px 0;
  }
  input {
    &[type='text'],
    &[type='password'] {
      font-size: 16px;
      line-height: 20px;

      display: block;

      width: 100%;
      height: 28px;
      margin: 0 0 7px 0;
      padding: 0;

      text-indent: 10px;

      color: #666;
      border: 1px solid #dedede;
      border-radius: 0;
      box-shadow: none;
    }
  }
  textarea {
    font-size: 16px;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 80px;
    margin: 0 0 15px 0;
    padding: 5px;

    resize: none;

    color: #666;
    border: 1px solid #dedede;
  }
  select {
    font-size: 16px;
    line-height: 20px;

    display: block;

    width: 100%;
    height: 36px;
    margin: 0 0 15px 0;
    padding: 0;

    color: #666;
    border: 1px solid #dedede;
    border-radius: 0;
    box-shadow: none;
  }
  .btn-send {
    display: block;

    width: 130px;
    margin: 20px auto 0 auto;
  }
  .required,
  .empty_field {
    border: 1px solid #d81a3d !important;
  }
  .required-field-info {
    font-size: 14px;

    margin: 0 0 10px 0;

    text-align: right;

    color: #818491;
  }
}

.house-service {
  .frm-controls {
    width: 500px;
  }
  #adr {
    font-size: 12px !important;
  }
  .info-message {
    margin: 100px 0 0 0;

    color: #8c8c8c;
  }
  input[type=file] {
    text-indent: 0;
  }
}

.prg {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  opacity: .8;
  background: #fff url(../img/loader_b.gif) no-repeat center center;
}

.mod {
  margin: 35px 0 0 0;
  .head {
    height: 38px;

    border-bottom: 2px solid #cacace;
    background-color: #eee;
    h3 {
      line-height: 38px;

      float: left;

      text-indent: 12px;

      color: #252731;
    }
    &.red {
      border-color: #d81a3d;
    }
    &.turq {
      border-color: #38bbbb;
    }
  }
  h3 a {
    line-height: 38px;

    display: inline-block;

    height: 38px;

    text-decoration: none;
    text-indent: 0;

    color: inherit;
    border-bottom: 2px solid #d81a3d;
    &:hover {
      color: #d81a3d;
    }
  }
  .head .btn {
    line-height: 30px;

    height: 30px;
    margin: 4px 4px 0 0;
  }
  .modwrap {
    padding: 20px 0 0 0;
    &.border {
      border: 1px solid #e7e7e7;
      border-top: none;
    }
  }
}

.tab {
  display: none;
  &.visible {
    display: block;
  }
}

.mod .tabs {
  display: block;
  float: left;

  height: 38px;
  margin: 0 0 0 20px;
  padding: 0;

  list-style: none;
  li {
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;

    display: inline;
    float: left;

    height: 38px;
    padding: 0 10px;

    cursor: pointer;
    text-align: center;

    color: #d81a3d;
    span {
      border-bottom: 1px dotted #d81a3d;
    }
    &.current {
      height: 40px;
      margin-top: -3px;
      margin-bottom: -2px;

      color: #252731;
      border-top: 3px solid #d81a3d;
      background-color: #fff;
      span {
        border-bottom: none;
      }
    }
  }
}

.content .bnrs {
  margin: 30px 0 0 0;
}

aside .bnrs {
  margin: 20px 0 0 0;
}

.pagenav {
  height: 36px;

  border-top: 2px solid #38bbbb;
  background-color: #414455;
  a,
  span {
    font-size: 18px;
    line-height: 36px;

    display: block;
    float: left;

    width: 45px;
    height: 36px;
    margin: 0 5px;

    text-align: center;
    text-decoration: none;

    color: #fff;
  }
  a:hover {
    background-color: #777c8f;
  }
  .first,
  .last {
    width: 100px;
    margin: 0;
    padding: 0;

    text-align: center;
  }
  .first {
    margin-left: 10px;
  }
  .prev,
  .next {
    width: 40px;
    margin: 0;
    padding: 0;

    text-align: center;
  }
  .active {
    height: 31px;
    margin: -2px 0 0 0;

    color: #d81a3d;
    border-top: 2px solid #fff;
    background-color: #fff;
  }
  span {
    color: #777c8f;
  }
}

.user-profile {
  position: relative;

  float: right;

  width: 225px;
  height: 40px;
  padding: 10px 5px 10px 28px;

  background-image: url(../img/user-auth.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 95px 60px;
  .login {
    text-decoration: none;
  }
  .user-foto {
    display: block;
    float: left;
    overflow: hidden;

    width: 36px;
    height: 36px;
    margin: 0 15px 0 0;

    border: 2px solid #38bbbb;
    border-radius: 50%;
    background-color: #fff;
    img {
      width: 36px;
      height: 36px;
    }
  }
  .login-lnk,
  .user-name {
    display: inline;

    text-decoration: none;

    border-bottom: 1px dotted #1ab1b2;
  }
  .login-lnk {
    line-height: 40px;
  }
  .login:hover .login-lnk,
  .user-name:hover {
    border-bottom: 1px dotted #d81a3d;
  }
  .message {
    display: block;

    width: 17px;
    height: 17px;
    margin: 5px 0 0 55px;

    background: url(../img/envelope-gray.svg) no-repeat 0 center;
    background-size: 16px;
    &.active {
      background-image: url(../img/envelope.svg);
    }
    .new-messages {
      line-height: 17px;

      display: block;
      float: left;

      height: 17px;
      margin: 0 0 0 23px;

      color: #d81a3d;
    }
  }
}

.user-mprof {
  .image {
    float: left;
    overflow: hidden;

    width: 56px;
    height: 56px;
    margin: 8px 8px 6px 8px;
    img {
      width: 56px;
    }
  }
  .fam {
    overflow: hidden;

    margin: 8px 2px 6px 0;
    a {
      color: #fff;
    }
    span {
      font-family: pt_sans_bold;
      font-size: 18px;

      display: block;

      margin: 0 0 10px 15px;

      text-align: left;
    }
  }
  .itms {
    width: 200px;
    margin: 15px 3px 15px 20px;
    a {
      line-height: 22px;

      display: block;

      height: 22px;
      margin: 10px 0;
      padding: 0 0 0 35px;

      text-decoration: none;

      color: #fff;
      border: none;
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 20px;
      &:hover {
        text-decoration: underline !important;
      }
    }
    .itm-houses {
      background-image: url(../img/houses.svg);
    }
    .itm-school {
      background-image: url(../img/school.svg);
    }
    .itm-messages {
      background-image: url(../img/mail.svg);
    }
    .itm-appeal {
      background-image: url(../img/pencil.svg);
    }
    .itm-events {
      background-image: url(../img/news.svg);
    }
    .itm-photos {
      background-image: url(../img/images.svg);
    }
    .itm-docs {
      background-image: url(../img/docs.svg);
    }
    .itm-settings {
      background-image: url(../img/tools.svg);
    }
    a:hover {
      text-decoration: none;
    }
  }
  #logout-btn {
    width: 100% !important;
    height: 40px !important;

    cursor: pointer;
    text-align: left;
    text-decoration: none;
    text-indent: 50px !important;

    color: #fff !important;
    border: none;
    border-radius: 0;
    background: #19a1a1 url(../img/logout.svg) no-repeat 25px 50% !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

.resident-profile {
  position: absolute;
  z-index: 9999;
  top: 77px;
  left: -70px;

  display: none;

  width: 180px;
  padding: 15px 20px 10px 20px;

  cursor: default;

  color: #fff;
  background: #38bbbb;
  box-shadow: rgba(0, 0, 0, .3) 9px 9px 0 0;
  &:before {
    position: absolute;
    top: -6px;
    left: 95px;

    width: 0;
    height: 0;

    content: '';

    border-right: 10px solid transparent;
    border-bottom: 10px solid #38bbbb;
    border-left: 10px solid transparent;
  }
  .resident-name {
    font-family: pt_sans_bold;
    font-size: 17px;

    margin: 0 0 10px 0;

    text-align: center;
  }
  .resident-message,
  .resident-link {
    line-height: 30px;

    display: block;

    height: 30px;
    padding: 0 0 0 25px;

    text-decoration: none;

    color: #fff;
    border: none;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 16px;
  }
  .resident-message:hover,
  .resident-link:hover {
    text-decoration: underline;
  }
  .resident-message {
    background-image: url(../img/mail.svg);
  }
  .resident-link {
    background-image: url(../img/profile.svg);
  }
  .lastvisit {
    font-size: 11px;

    margin: 5px 0 0 0;

    text-align: center;

    opacity: .8;
  }
}

.tooltip-wnd {
  position: absolute;
  z-index: 9999;

  color: #fff;
  background: #38bbbb;
  box-shadow: rgba(0, 0, 0, .3) 9px 9px 0 0;
  &:before {
    position: absolute;
    top: -10px;
    left: 0;

    width: 0;
    height: 0;

    content: '';

    border-right: 10px solid transparent;
    border-bottom: 10px solid #38bbbb;
    border-left: 10px solid transparent;
  }
  &.new-messages {
    top: 61px;
    right: 20px;

    width: 200px;
    padding: 15px;
    &:before {
      left: 73px;
    }
    .new-messages-itm-lnk {
      text-decoration: none;

      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
    .new-messages-table {
      width: 100%;
    }
  }
  &.profile-menu {
    top: 61px;
    right: 20px;

    width: 230px;
    &:before {
      left: 30px;
    }
  }
}

.content-404 {
  font-size: 25px;

  margin: 50px 0 0 0;

  text-align: center;
}

.topbar {
  line-height: 22px;

  position: relative;
  z-index: 50;

  height: 22px;
  margin: 0 -25px 0 0;
  padding: 18px 0 6px 0;

  border-bottom: 3px solid #e7e7e7;
  a {
    text-decoration: none;

    color: #333;
    &:hover {
      text-decoration: underline;
    }
  }
  .sep {
    display: inline-block;

    width: 28px;
    height: 10px;

    opacity: .6;
    color: #fff;
    background-image: url(../img/next.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  h1 {
    font-size: 22px;
    font-weight: normal;
  }
}

.news-search {
  height: 22px;
  padding: 18px 0 6px 0;

  border-bottom: 3px solid #e7e7e7;
}

.form-search {
  .btn-search {
    float: right;

    width: 22px;
    height: 22px;
    margin: 0 0 0 8px;
    padding: 0;

    cursor: pointer;
    text-indent: -20000px;

    border: none;
    border-radius: 22px;
    background: #f4f4f4 url(../img/search_lens_gray.svg) 50% 50% no-repeat;
    background-size: 14px;
  }
  .inp-search {
    font-size: 15px;
    line-height: 22px;

    width: 200px;
    height: 22px;
    padding: 0 8px 0 0;

    text-align: right;
    text-indent: 0;

    color: #a9abaf;
    border: none;
    border-right: 1px solid #e7e7e7;
    border-radius: 0;
    background: transparent;
  }
}

.mod.categories {
  margin: 15px 0 0 0;
  .modwrap {
    padding: 10px 0;

    border-bottom: 2px solid #e7e7e7;
    a {
      font-size: 17px;

      display: block;

      padding: 5px 0 6px 15px;

      text-decoration: none;

      color: #333;
      border-bottom: 1px solid #e7e7e7;
      &:last-child {
        border: none;
      }
      &:hover,
      &.active {
        color: #d81a3d;
      }
    }
    > span {
      font-size: 17px;

      display: block;

      padding: 5px 0 6px 15px;

      text-decoration: none;

      color: #333;
      border-bottom: 1px solid #e7e7e7;
    }
    > span:last-child {
      border: none;
    }
    > span {
      color: #d81a3d;
    }
  }
  .itm-count {
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 20px;
    height: 20px;
    margin: 0 0 0 5px;
    padding: 0 6px;

    text-align: center;
    text-decoration: none;

    color: #818491;
    border-radius: 10px;
    background-color: #f4f4f4;
  }
}

ul.region-link {
  margin: 0;
  padding: 0;

  list-style: none;
  li {
    font-family: pt_sans_bold;
    font-size: 17px;

    display: block;

    width: 230px;
    margin: 0 auto;
    padding: 8px 0;

    text-align: left;
  }
}

#ubar {
  position: fixed;
  z-index: 200;
  right: 20px;
  bottom: 30px;

  display: none;

  width: 60px;
  padding: 15px 5px 5px;

  text-align: center;
  text-decoration: none;

  color: #000;
  background: rgba(210, 210, 210, .5);
}

#dialog-form .online {
  margin: 0 0 5px 0;

  color: #777;
  &.active {
    font-weight: bold;

    color: #009244;
  }
}

.dialogwnd {
  max-height: 546px;
  margin: 0;
}

#dialog-form {
  .dialog {
    clear: both;
    overflow-y: scroll;

    height: 240px;
    margin: 10px 0 5px 0;
    padding: 0;

    border: 1px solid #ccc;
  }
  #user-message {
    display: block;

    width: 98%;
    height: 60px;
    padding: 1%;

    resize: none;

    border: #ddd 1px solid;
  }
  .img {
    float: left;
    overflow: hidden;

    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;
    img {
      width: 40px;
      height: auto;
    }
  }
  .recipient {
    overflow: hidden;

    margin: 0;
  }
  .dialog-message {
    margin: 0 0 2px 0;
    padding: 5px 10px;

    background-color: #f5f5f5;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .message-username {
    float: left;

    margin: 0 0 5px 0;
    a {
      font-weight: bold;

      text-decoration: underline;
    }
  }
  .message-date {
    font-size: 11px;

    float: right;

    margin: 0 0 5px 10px;

    color: #777;
  }
  .message-text {
    clear: both;

    margin: 0 0 0 10px;

    word-wrap: break-word;
  }
}

.dialog-attachments {
  overflow: hidden;
}

.dialog-attachment {
  position: relative;

  float: left;

  max-width: 64px;
  height: 32px;
  margin: 5px 10px 0 0;
  img {
    width: auto;
    height: 32px;
  }
}

.dialog-attachment-title {
  font-size: 10px;

  position: absolute;
  z-index: 1200;
  top: 10px;
  left: 20px;

  display: none;

  padding: 2px 5px;

  white-space: nowrap;

  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
}

.dialog-attachment:hover > .dialog-attachment-title {
  display: block;
}

#dialog-form .name {
  margin: 0 0 5px 0;
}

.user-writes {
  margin: 0 0 2px 0;
  padding: 10px 10px;

  color: #007135;
  background-color: #fff;
  span {
    display: none;
  }
}

.texteditor {
  margin-bottom: 10px;
}

.add-attachments {
  clear: both;
}

.add-files {
  line-height: 20px;

  float: left;

  height: 20px;
  margin: 8px 15px 0 0;

  cursor: pointer;

  color: #1ab1b2;
  border-bottom: 1px dotted #1ab1b2;
  &:hover {
    color: #d81a3d;
    border-bottom: 1px dotted #d81a3d;
  }
}

.message-attachments {
  overflow: hidden;

  height: 60px;
  margin: -5px -10px 0 0;
}

.attachment-itm {
  position: relative;

  float: left;

  max-width: 90px;
  height: 50px;
  margin: 0 10px 10px 0;

  text-align: center;
  img {
    width: auto;
    height: 50px;
  }
}

.del-attachment {
  position: absolute;
  top: 0;
  right: 0;

  width: 20px;
  height: 20px;

  cursor: pointer;

  opacity: .8;
  background: #333 url(../img/close.png) no-repeat center center;
  &:hover {
    background-image: url(../img/closea.png);
  }
}

.attachment-itm.doc img {
  width: auto;
  height: 50px;
}

.attachment-title {
  font-size: 10px;

  position: absolute;
  z-index: 1200;
  top: 22px;
  left: 2px;

  display: none;

  padding: 5px;

  white-space: nowrap;

  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
}

.attachment-itm.doc:hover > .attachment-title {
  display: block;
}

#messageform {
  .to-user-lbl {
    float: left;

    padding: 0 20px 0 0;

    color: #aaa;
  }
  textarea {
    display: block;

    width: 98%;
    height: 293px;
    margin: 30px 0;
    padding: 1%;

    resize: none;

    border: #ddd 1px solid;
  }
}

.dialogwnd {
  .btn-send {
    float: right;

    width: 160px;
  }
  .info-message {
    font-size: 16px;
    font-weight: bold;

    text-align: center;
  }
}

.float-block {
  width: 240px;
  &.fixed {
    position: fixed;
    z-index: 101;
    top: 80px;

    margin-top: 0;
  }
  &.absolute {
    position: absolute;

    margin-top: 0;
  }
}
